body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}

.top-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px 10px 5px 60px;
}

.top-head img {
    padding: 0 2px;
}

.top-head span {
    padding: 0 0 0 5px;
}

.top-head div {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    padding: 10px 10px 0 25px;
    background-color: rgb(242, 242, 242)
}

.search-bar {
    border: 1px solid black;
    border-right: none;
    width: 15vw;
    background-color: white;
    padding: 10px;
    position: relative;
}

.search-btn {
    border: 1px solid black;
    border-left: none;
    font-size: 0;
    background-color: white;
    padding: 11px;
    float: right;
    cursor: pointer;
    /* position: absolute; */
}

.nav-bar ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.nav-bar li {
    margin: 0 2px;
    background-color: #d8d8d8;
}

.nav-bar a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px 10px;
    display: block;
}

.hero {
    text-align: center;
    padding: 80px 0;
    border: 1px solid black;
    border-top: none;
    background-color: #d8d8d8;
    
}

.fig figure img {
    width: 100%;
}

.foot-contact {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 2em;
    border: 1px solid black;
    border-top: none;
}

.foot-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #3f3f3f;
    color: white;
    padding-top: 10px;
    border: 1px solid bisque;
    border-top: none;
}

.foot-about {
    width: 30%;
}

.foot-about a{
    text-decoration: none;
    color: #427b96;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    line-height: 40px;
}

footer li a {
    color: white;
}

.foot-newsletter {
    line-height: 5px;
    
}

.foot-newsletter form{
    position: relative;
}

.foot-newsletter input {
    background-color: #3f3f3f;
    border: 1px solid white;
    padding: 5px 3px;
    width: 100%;
    color: white;
}

.foot-newsletter button {
    position: absolute;
    right: -1px;
    margin-top: 10px;
    padding: 10px;
}

.copyright {
    background-color: #3f3f3f;
    text-align: center;
    border: 1px solid bisque;
    border-top: none;
    color: white;
    padding: 5px 0;
}

@media (max-width: 1164px) {

    .container {
        width: 80%;
    
    }
    
    .nav-bar {
        display: flex;
        flex-flow: column wrap;
        padding-left: 0;
        margin-left: 0;
    }

    .nav-bar h1 {
        text-align: center;
    }

    .search-btn {
        padding: 11px;

    }

    .search-bar {

        width: 50vw;
    }

}

@media (max-width: 820px) {

    .container {
        width: 100%;
    }
}

@media (max-width: 570px) {

    .foot-contact {
        font-size: 1.5rem;
    }

    .foot-about {

        width: 100%;
        padding-left: 5px;
        
    }

}

@media (max-width: 370px) {

    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .nav-bar h1 {
        margin-left: 30px;
    }

    .nav-bar ul {
        flex-flow: column nowrap;
    }

    .nav-bar li {
        margin: 10px 0 0 0;
    }

    .nav-bar a {
        padding: 5px 50px;
    }

    .foot-contact {
        font-size: 1rem;
    }

    .foot-content {
        font-size: 0.6rem;
    }

    .foot-newsletter button {
        margin-top: 5px;
        padding: 5px;

    }

    .copyright {
        font-size: 0.6rem;
    }

}