
.main-content {
    position: relative;
    padding: 40px 10px 5px 10px;
    border: 1px solid black;
    border-top: none;
}


.uploadFile img{
    position: sticky;
    float: right;
    top: 10px;
}

.response {
    border: #c7d4dd  solid 1px;
    background-color: #dae9f4;
    border-radius: 10px;
    margin: 20px 0 0 20px;
    padding: 25px;
    width: 80%
}

.inputField {
    padding: 10px 30px 10px 5px;
    width: 50%;
}

textarea {
    width: 90%;
}

.send-btn {
    padding: 10px 40px;
    float: right;
    margin-right: 9.8%;
}