
.main-content {
    position: relative;
    padding: 40px 10px 5px 10px;
    border: 1px solid black;
    border-top: none;
}

.fig {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #b4d2e7;
    border: 1px solid black;
    border-top: none;
    padding: 0 50px;
}

.fig figure {
    width: 10%;
    text-align: center;
}

.main-content h2 {
    text-align: center;
}

.uploadFile img{
    position: sticky;
    float: right;
    top: 10px;
}

.main-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main-section section {
    width: 40%;
}

.story-link {
    direction: rtl;
}

.story-link a {
    text-decoration: none;
}


/* --main style end-- */



/* media query begins here */



@media (max-width: 570px) {

    .fig {

        flex-direction: column;
        padding: 0;
    }

    .fig figure {
        width: 20%;
    }

    .main-section {
        flex-direction: column;
    }

    .main-section section {
        width: 100%;
    }

    .main-section section h3 {
        text-align: center;
    }

    .main-section section p {
        text-align: justify;
    }


}